<html>
<head>
		<title>Memes Cooked To Perfection</title>
		<link rel = "stylesheet" type = "text/css"  href = "memes.css">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">
		<style type = "text/css">
			body {
				font-family: 'Baloo Chettan', cursive;
			}
		</style>
	</head>
<body>

<div id = "header" style = "height: 50px;">
			<form method="post" action="/login">
				<button style = "float: left; margin-right: 0px; margin-left: 20px;" type="submit" name="button" value = "Home">Home</button>
			</form>
</div>

<div style = "height: 270px;" id = "user">
<form method="post" action="/login">
Username: <input style = "border-radius: 15px;" type="text" name="username"><br>
Password: <input style = "border-radius: 15px;" type="password" name="password"><br>
<input type="submit" name="button" value="Login">
</form>

<form method="post" action="/login">
<input type="submit" name="button" value="Cancel" ></input>
</form>

<form method="post" action="/login">
<button style = "width: 300px;" type="submit" name="button" value="Register"> Don't have an account? Register here.</button>
</form>
<br/>
<h2 style = "color: red;">{{{msg}}}</h2>
</div>
</body>
</html>
