<html>
<head>
<title>Account Registration
</title>
</head>
<body>

{{{msg}}}
<form method="post" action="/registration">
Username:<input type:"submit" placeholder="Firstname" name="username"><br>
Password:<input type="password" placeholder="Password" name="password"><br>
Confirm Password:<input type="password" placeholder="Confirm Password" name="Confirm"><br>
Birthday:<input type="date" name="Birthday"><br>
<input type="submit" name="submit">
</form>

</body>
</html>